/* mid 1-level screen responsive */
@media (max-width: 815px) {
  .welcome-msg h2 {
    margin-top: 20px;
  }
  .eliza-ascii h2 {
    font-size: 33px;
    margin: 30px 0px;
  }
  .pre-text {
    overflow-x: hidden;
  }
  .pre-text p {
    margin: 10px 0px;
    font-size: 15px;
  }
  .pre-text .intro-text {
    font-size: 16px;
    width: 80%;
  }
  .text-area {
    margin: 40px auto;
  }
  .text-area p {
    font-size: 20px;
    line-height: 25px;
  }
  .text-area .custom-caret {
    font-size: 15px;
    font-style: italic;
    width: 50px;
  }
  .user-input {
    font-size: 20px;
  }

  .clea-btn {
    bottom: 30px;
  }
  .container {
    min-height: 100dvh;
  }
}

/* mid 2-level screen responsive */
@media (max-width: 415px) {
  .welcome-msg h2 {
    margin-top: 20px;
  }
  .eliza-ascii h2 {
    margin: 25px;
  }
  .pre-text {
    overflow-x: hidden;
  }
  .pre-text p {
    margin: 10px 0px;
    font-size: 15px;
  }
  .pre-text .intro-text {
    font-size: 16px;
    width: 80%;
  }
  .text-area {
    margin: 0px auto;
  }
  .text-area p {
    font-size: 15px;
  }
  .text-area .custom-caret {
    font-size: 15px;
    font-style: italic;
    width: 50px;
  }
  .user-input {
    font-size: 15px;
  }
}

/* Small screen responsive */
@media (max-width: 370px) {
  .welcome-msg h2 {
    margin-top: 20px;
  }
  .eliza-ascii h2 {
    margin: 25px;
    font-size: 30px;
  }
  .pre-text {
    overflow-x: hidden;
  }
  .pre-text p {
    margin: 5px 0px;
    font-size: 15px;
  }
  .pre-text .intro-text {
    font-size: 15px;
    width: 80%;
  }
  .text-area p {
    font-size: 15px;
  }
  .text-area .custom-caret {
    font-size: 15px;
    font-style: italic;
    width: 50px;
  }
  .user-input {
    font-size: 15px;
  }
}
